/* Variable Font: Raleway */

@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 800;
}

/* Variable Font: Raleway Italic*/

@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300 800;
}

body {
    margin: 0; /* left margin is zero*/
    background-color: hsl(0, 0%, 100%); 
    color: hsl(0, 0%, 10%);
    line-height: 1.5; /* Distance between lines*/
    font-family: Raleway, "PT Sans", Calibri, Tahoma, sans-serif;
}

.content-width {
    max-width: 70ch; /* Maximum width of the text in the page */
    width: calc(100% - 4rem); /* Have not learned about this yet */
    margin: 0 auto; /* Centers horizontally */
}

main {
    margin-bottom: 4rem; /* bottom of the page */
}

header {
    margin-bottom: 4 rem;
    padding: 2rem 0; /* Adds space around the element, in this case, in the bottom */
    background-color: hsl(280, 50%, 40%);
    border-bottom: 4px solid hsl(300, 50%, 50%); /* Border line: thickness, type and color */
    color: hsl(300, 50%, 50%);
}

header p {
    color: hsl(300, 50%, 85%);
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
}

h2, h3 {
    color: hsl(280, 50%, 40%);
}

h1 {
    font-size: 3rem;
    font-weight: 350;
    color:hsl(300, 50%, 85%)
}

h2 {
    font-size: 2rem;
    font-weight: 570;
}

h3 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 450;
}

p {
    font-size: 1.125rem;
}

strong {
    font-weight: 600;
}